In [1]:
354972062885738, 354972062885746,354972062885753,354972062886561,354972062886587,354972062886595,354972062886611

(354972062885738,
 354972062885746,
 354972062885753,
 354972062886561,
 354972062886587,
 354972062886595,
 354972062886611)

In [2]:
data_list=[354972062885738, 354972062885746,354972062885753,354972062886561,354972062886587,354972062886595,354972062886611]

In [3]:
df_list=[]
for each in data_list:
    df="Data_"+str(each)+".csv"
    df_list.append(df)
df_list

['Data_354972062885738.csv',
 'Data_354972062885746.csv',
 'Data_354972062885753.csv',
 'Data_354972062886561.csv',
 'Data_354972062886587.csv',
 'Data_354972062886595.csv',
 'Data_354972062886611.csv']

In [4]:
import pandas as pd
dataframes_list=[]
for each in df_list:
    dataframes_list.append(pd.read_csv(each))

C:\Users\INFO-DSK-04\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
import numpy as np
lst=[]
for each in dataframes_list:
    print(each.shape)
    lst.append(each.shape)
np.sum(pair[0] for pair in lst)

(20587, 31)
(15295, 31)
(7592, 31)
(69900, 31)
(56668, 31)
(3238, 31)
(3275, 31)

C:\Users\INFO-DSK-04\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.

176555

In [6]:
Full_data = pd.concat(list(dataframes_list))
Full_data.to_csv("Full_data.csv")

In [7]:
Full_data.head()

,SlNo,AssetNo,DeviceNo,Latitude,Longitude,Altitude,Speed,Satellite,TrackDateTime,Direction,...,SoftwareVersion,RoadSpeed,DriverId,FuelinLtrs,EngineRpm,IbuttonId,UpdationTime,SqncNumber,OdometerLL,AdditionalData
0,1,VIT_5738,354972062885738,19.12572,73.01328,83.0,0,5,2019-09-18 17:33:23.000,0,...,5602,NaN,NaN,NaN,NaN,0.0,2019-09-18 17:33:07.310,NaN,0.0,JIOVTS:RIL-0001:JVT1441_060302:BD:L:~:~:~:~:~:...
1,2,VIT_5738,354972062885738,19.12670,73.01229,6.5,0,6,2019-09-24 11:11:02.000,0,...,5602,NaN,NaN,NaN,NaN,0.0,2019-09-24 11:10:45.487,NaN,0.0,JIOVTS:RIL-0001:JVT1441_060302:BD:L:~:~:~:~:~:...
2,3,VIT_5738,354972062885738,19.12671,73.01226,8.8,2,6,2019-09-24 11:11:15.000,0,...,5602,NaN,NaN,NaN,NaN,0.0,2019-09-24 11:10:56.970,NaN,0.0,JIOVTS:RIL-0001:JVT1441_060302:RT:L:~:~:~:~:~:...
3,4,VIT_5738,354972062885738,19.12671,73.01226,NaN,2,6,2019-09-24 11:11:15.000,0,...,5602,NaN,NaN,NaN,NaN,NaN,2019-09-24 11:10:57.313,NaN,NaN,JIOVTS:RIL-0001:JVT1441_060302:RT:~:~:~:~:~:~:...
4,5,VIT_5738,354972062885738,19.12670,73.01225,6.2,0,14,2019-09-24 11:12:02.000,0,...,5602,NaN,NaN,NaN,NaN,0.0,2019-09-24 11:11:45.200,NaN,0.0,JIOVTS:RIL-0001:JVT1441_060302:BD:L:~:~:~:~:~:...

In [8]:
Full_data.columns

Index(['SlNo', 'AssetNo', 'DeviceNo', 'Latitude', 'Longitude', 'Altitude',
       'Speed', 'Satellite', 'TrackDateTime', 'Direction', 'Location',
       'GeofenceName', 'MessageNumber', 'OdoMeter', 'Ignition', 'Digital1',
       'Digital2', 'Digital3', 'Digital4', 'Analog1', 'Analog2',
       'SoftwareVersion', 'RoadSpeed', 'DriverId', 'FuelinLtrs', 'EngineRpm',
       'IbuttonId', 'UpdationTime', 'SqncNumber', 'OdometerLL',
       'AdditionalData'],
      dtype='object')

In [9]:
reqd_data=Full_data[['AssetNo', 'DeviceNo', 'Latitude', 'Longitude','Speed', 'Altitude','TrackDateTime', 'Ignition']]
reqd_data['AlertType']=np.nan
reqd_data['left']=1

C:\Users\INFO-DSK-04\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\INFO-DSK-04\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
reqd_data.head()

,AssetNo,DeviceNo,Latitude,Longitude,Speed,Altitude,TrackDateTime,Ignition,AlertType,left
0,VIT_5738,354972062885738,19.12572,73.01328,0,83.0,2019-09-18 17:33:23.000,0,NaN,1
1,VIT_5738,354972062885738,19.12670,73.01229,0,6.5,2019-09-24 11:11:02.000,0,NaN,1
2,VIT_5738,354972062885738,19.12671,73.01226,2,8.8,2019-09-24 11:11:15.000,0,NaN,1
3,VIT_5738,354972062885738,19.12671,73.01226,2,NaN,2019-09-24 11:11:15.000,0,NaN,1
4,VIT_5738,354972062885738,19.12670,73.01225,0,6.2,2019-09-24 11:12:02.000,0,NaN,1

In [11]:
alert_data=pd.read_csv("Devices with Alerts.csv")

In [12]:
alert_data.columns

Index(['AlertType', 'AssetNo', 'DeviceNo', 'Latitude', 'Longitude', 'Location',
       'GeofenceName', 'Speed', 'Remarks', 'SimNos', 'Message',
       'AlertDatetime', 'SMSDatetime', 'FuelBarStatus',
       'FuelBarClosedDatetime', 'SendStatus', 'AlertStatus', 'Latitude2',
       'Longitude2', 'Location2', 'GeofenceName1', 'GeofenceName2', 'MialId',
       'TrackDateTime', 'Ignition', 'AttendedBy', 'AttendedTime',
       'AttendedStatus', 'DeviceSendStatus', 'DeviceMobileNo', 'FcmSentStatus',
       'ACKStatus', 'AdditionalData', 'MsgType', 'MsgSlno', 'SEMMessage',
       'SEMResponse', 'SEMSendTime', 'SEMResponseTime',
       'NotificationSendStatus', 'SensorID', 'SensorName', 'DisplayName',
       'ExSlno'],
      dtype='object')

In [13]:
alert_data.drop("TrackDateTime",axis=1,inplace=True)

In [14]:
alert_data.rename(columns={"AlertDatetime":"TrackDateTime"},inplace=True)

In [15]:
alerts=alert_data[['AssetNo', 'DeviceNo', 'Latitude', 'Speed', 'Longitude','TrackDateTime', 'Ignition','AlertType']]
alerts['Altitude']=np.nan
alerts['left']=0

C:\Users\INFO-DSK-04\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\INFO-DSK-04\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
alerts.head()
alerts.shape

(741, 10)

In [17]:
# import datetime
# d = datetime.datetime.strptime('2011-06-09', '%Y-%m-%d')
# d.strftime('%b %d,%Y')
# 'Jun 09,2011'

In [18]:
reqd_data.TrackDateTime.head()

0    2019-09-18 17:33:23.000
1    2019-09-24 11:11:02.000
2    2019-09-24 11:11:15.000
3    2019-09-24 11:11:15.000
4    2019-09-24 11:12:02.000
Name: TrackDateTime, dtype: object

In [19]:
Complete_data = pd.concat([reqd_data, alerts], ignore_index=True, sort=False).sort_values([ 'TrackDateTime'])
Complete_data["AlertTypeName"]=Complete_data.AlertType
Complete_data=Complete_data.replace({'AlertTypeName': {32: "Rash Turning", 14: "Harsh Breaking",15: "Harsh Acceleration"}})

In [21]:
Complete_data.to_csv("Complete_data.csv",index=False)

In [22]:
Complete_data

,AssetNo,DeviceNo,Latitude,Longitude,Speed,Altitude,TrackDateTime,Ignition,AlertType,left,AlertTypeName
177233,VIT_5738,354972062885738,0.00000,0.00000,0,NaN,01-10-2019 11:18:08,NaN,32.0,0,Rash Turning
177234,VIT_5738,354972062885738,0.00000,0.00000,0,NaN,01-10-2019 11:18:12,NaN,32.0,0,Rash Turning
177252,VIT_5738,354972062885738,0.00000,0.00000,0,NaN,01-10-2019 11:37:35,NaN,32.0,0,Rash Turning
177253,VIT_5738,354972062885738,0.00000,0.00000,0,NaN,01-10-2019 11:37:52,NaN,32.0,0,Rash Turning
177254,VIT_5738,354972062885738,0.00000,0.00000,0,NaN,01-10-2019 11:39:15,NaN,32.0,0,Rash Turning
177255,VIT_5738,354972062885738,19.12602,73.01448,1,NaN,01-10-2019 11:42:43,NaN,32.0,0,Rash Turning
177235,VIT_5738,354972062885738,19.12586,73.01430,3,NaN,01-10-2019 12:05:51,NaN,32.0,0,Rash Turning
177236,VIT_5738,354972062885738,19.12623,73.01284,9,NaN,01-10-2019 12:08:42,NaN,32.0,0,Rash Turning
177237,VIT_5738,354972062885738,0.00000,0.00000,0,NaN,01-10-2019 12:29:05,NaN,32.0,0,Rash Turning
177238,VIT_5738,354972062885738,0.00000,0.00000,0,NaN,01-10-2019 12:29:24,NaN,32.0,0,Rash Turning
177239,DNI753,354972062885753,19.12509,73.01510,2,NaN,01-10-2019 12:45:06,NaN,32.0,0,Rash Turning
177240,DNI753,354972062885753,19.12565,73.01459,19,NaN,01-10-2019 12:46:49,NaN,32.0,0,Rash Turning
177241,DNI753,354972062885753,19.12563,73.01495,0,NaN,01-10-2019 13:01:25,NaN,32.0,0,Rash Turning
177258,VIT_5738,354972062885738,19.12621,73.01285,3,NaN,01-10-2019 13:06:53,NaN,32.0,0,Rash Turning
177259,VIT_5738,354972062885738,19.12621,73.01285,3,NaN,01-10-2019 13:06:57,NaN,32.0,0,Rash Turning
177260,VIT_5738,354972062885738,19.12624,73.01286,7,NaN,01-10-2019 13:07:15,NaN,32.0,0,Rash Turning
177246,VIT_5738,354972062885738,19.12720,73.01006,2,NaN,01-10-2019 16:27:45,NaN,32.0,0,Rash Turning
177247,VIT_5738,354972062885738,19.12722,73.01009,1,NaN,01-10-2019 16:27:50,NaN,32.0,0,Rash Turning
177248,VIT_5738,354972062885738,19.12717,73.01008,0,NaN,01-10-2019 16:35:50,NaN,32.0,0,Rash Turning
177261,DNI_JVT1441,354972062885746,19.00146,73.28615,55,NaN,03-10-2019 13:46:32,NaN,32.0,0,Rash Turning
177249,DNI_JVT1441,354972062885746,19.00229,73.28608,65,NaN,03-10-2019 14:33:11,NaN,32.0,0,Rash Turning
177266,DNI_JVT1441,354972062885746,19.01005,73.28810,102,NaN,03-10-2019 14:35:18,NaN,32.0,0,Rash Turning
177269,DNI_JVT1441,354972062885746,19.12246,73.01661,86,NaN,03-10-2019 17:07:09,NaN,32.0,0,Rash Turning
177270,DNI_JVT1441,354972062885746,19.12269,73.01660,85,NaN,03-10-2019 17:07:14,NaN,32.0,0,Rash Turning
177267,DNI_JVT1441,354972062885746,19.12354,73.01655,84,NaN,03-10-2019 17:07:30,NaN,32.0,0,Rash Turning
177268,DNI_JVT1441,354972062885746,19.12403,73.01653,92,NaN,03-10-2019 17:07:36,NaN,32.0,0,Rash Turning
177272,DNI_JVT1441,354972062885746,19.12555,73.01494,13,NaN,03-10-2019 17:09:17,NaN,32.0,0,Rash Turning
177271,DNI_JVT1441,354972062885746,19.12553,73.01494,10,NaN,03-10-2019 17:09:23,NaN,32.0,0,Rash Turning
177256,DNI_JVT1441,354972062885746,19.12554,73.01499,7,NaN,03-10-2019 17:09:27,NaN,32.0,0,Rash Turning
177257,DNI_JVT1441,354972062885746,19.12562,73.01448,0,NaN,03-10-2019 17:13:03,NaN,32.0,0,Rash Turning
...,...,...,...,...,...,...,...,...,...,...,...
177191,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:00:53,NaN,32.0,0,Rash Turning
177207,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:00:53,NaN,32.0,0,Rash Turning
177206,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:00:53,NaN,32.0,0,Rash Turning
177189,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:00:53,NaN,32.0,0,Rash Turning
177204,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:00:53,NaN,32.0,0,Rash Turning
177198,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:00:53,NaN,32.0,0,Rash Turning
177195,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:10:40,NaN,32.0,0,Rash Turning
177203,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:10:40,NaN,32.0,0,Rash Turning
177205,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:10:40,NaN,32.0,0,Rash Turning
177197,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:10:40,NaN,32.0,0,Rash Turning
177196,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:10:40,NaN,32.0,0,Rash Turning
177208,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:10:40,NaN,32.0,0,Rash Turning
177242,DNI753,354972062885753,0.00000,0.00000,0,NaN,30-09-2019 15:25:09,NaN,32.0,0,Rash Turning
177275,DNI753,354972062885753,19.12590,73.01526,0,NaN,30-09-2019 16:24:10,NaN,32.0,0,Rash Turning
177243,DNI_JVT1441,354972062885746,19.12571,73.01512,9,NaN,30-09-2019 16:45:12,NaN,32.0,0,Rash Turning
177217,DNI_JVT1441,354972062885746,19.12556,73.01509,58,NaN,30-09-2019 17:19:44,NaN,32.0,0,Rash Turning
177250,DNI_JVT1441,354972062885746,19.12572,73.01508,54,NaN,30-09-2019 17:19:49,NaN,32.0,0,Rash Turning
177251,DNI_JVT1441,354972062885746,19.12635,73.01508,70,NaN,30-09-2019 17:20:04,NaN,32.0,0,Rash Turning
177223,DNI753,354972062885753,19.12531,73.01502,4,NaN,30-09-2019 17:28:55,NaN,32.0,0,Rash Turning
177224,DNI_JVT1441,354972062885746,19.12518,73.01508,0,NaN,30-09-2019 17:29:58,NaN,32.0,0,Rash Turning
177225,DNI_JVT1441,354972062885746,19.12518,73.01505,8,NaN,30-09-2019 17:30:37,NaN,32.0,0,Rash Turning
177226,DNI_JVT1441,354972062885746,19.12558,73.01466,9,NaN,30-09-2019 17:32:00,NaN,32.0,0,Rash Turning
177227,DNI_JVT1441,354972062885746,19.12553,73.01448,0,NaN,30-09-2019 17:32:24,NaN,32.0,0,Rash Turning
177228,DNI_JVT1441,354972062885746,19.12553,73.01448,0,NaN,30-09-2019 17:32:35,NaN,32.0,0,Rash Turning
177229,DNI_JVT1441,354972062885746,19.12553,73.01448,0,NaN,30-09-2019 17:33:52,NaN,32.0,0,Rash Turning
177230,DNI753,354972062885753,19.12590,73.01447,0,NaN,30-09-2019 17:34:17,NaN,32.0,0,Rash Turning
177244,DNI753,354972062885753,19.12590,73.01447,0,NaN,30-09-2019 18:03:31,NaN,32.0,0,Rash Turning
177245,DNI753,354972062885753,19.12590,73.01447,0,NaN,30-09-2019 18:03:35,NaN,32.0,0,Rash Turning
177232,DNI753,354972062885753,19.12590,73.01447,0,NaN,30-09-2019 18:25:57,NaN,32.0,0,Rash Turning
177231,DNI753,354972062885753,19.12590,73.01447,0,NaN,30-09-2019 18:26:06,NaN,32.0,0,Rash Turning